.App-header {
  background-color: #e5e5e5;
  display: flex;
  /* flex-direction: column;  */
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  align-items: center; 
  color: #61dafb;
}

video {
  
  width: 100vw;
}
.overlay{
   /* position: absolute;
   width: 100%;
   height: 100%; */
   top: 0;
   color: rgb(207, 189, 189);
}

video {
  justify-content: center;
  align-items: center; 
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
}
.image-container > * {
  flex: 25%;
}

.background-image {
  
  height: 100%;
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: #e5e5e5;
}

.background-image > * {
  color: #000000;
}
.rowimage {
  /* display: flex;
  flex-direction: column; */
  margin-left: 20px;
}

.transimage {
  height: 500px;
  width: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: bold;
  margin: 20px 20px 20px 0px;
}

.transimage1 {
  background-image: url(/images/translab1.jpeg);
}
.transimage2 {
  background-image: url(/images/translab2.jpeg);
 
}

.transimage3 {
  background-image: url(/images/translab3.jpeg);
}

.transimage4 {
  background-image: url(/images/translab4.jpeg);
}

.transimage5 {
  background-image: url(/images/translab5.jpeg);
}

.transimage6 {
  background-image: url(/images/translab6.jpeg);
}

.header{
  color: #f2cc8f;
  font-weight: bolder;
  z-index: 1;
  text-align: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 1rem;
    line-height: normal;
  font-size: 70px;
  font-weight: 600;
  background-image:  radial-gradient(circle, #553c9a, #ee4b2b);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.paragraph{
  color:#000000;
  font-weight: bolder;
  z-index: 1;
  font-size: 2rem;
  padding:0 50px 0 50px;
    text-align: center;
    font-family: unset;
    line-height: normal;
}

.welcomeButton {
  background-color: #0077b6;
  color: black;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  z-index: 1;
 
  font-size: 1em;
  margin-left: 45%;
 text-align: center;
  width: 150px;
  height: 30px;
  margin-bottom: 40px;
}

.welcomeButtonLink {
  text-decoration: none;
  color: black;
  font-size:  22px;
  font-weight: 500;
 
}

.Building-buttons-div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
  justify-content: space-evenly;
  align-items: center;

  
}

.Building-buttons {
  width: 400px;
  height: 50px;
  background-color: #fca311;
  margin: 40px;
}

.animate {
  animation-duration: 0.5s;
  animation-name: animate-fade;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}

@keyframes animate-fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
